<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_adi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_adi"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADI"
        tools:targetApi="31">
        <activity
            android:name=".DetalleProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ProductosPorCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".ProductosPorProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".TodosProductosActivity"
            android:exported="false" />
        <activity
            android:name=".BusquedaCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".BusquedaProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarProductosActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarProveedoresActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>